* {
    font-family: sans-serif;
}

html, body {
    height: 100%;
    font-size: 16px;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-container {
    max-width: 500px;
    margin: 2rem auto;
    padding: 1rem;
}

.rvkLogo {
    max-width: 100px;
}