<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Data | RVK Report System</title>
    <link href="/css/style.css" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"/>
    <script src="/js/helper.js" type="text/javascript"></script>
</head>
<body>

<section class="hero is-info" th:fragment="basicHeader">
    <div class="hero-body hero-container">
        <img class="rvk-logo" src="/img/merki-an-texta.jpg" alt="ReykjavikCitySymbol"/>
        <div class="container has-text-centered title-container">
            <p class="title">Report System</p>
            <p class="subtitle">Reykjavík</p>
        </div>
    </div>
</section>