<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Report Confirmed</title>
    <link href="/css/style.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script src="/js/helper.js" type="text/javascript"></script>
</head>
<body>

<header th:insert="loggedInHeader.html :: loggedInHeader"></header>

<section class="form-container box">
    <h2 class="is-size-3 has-text-centered has-text-weight-semibold mb-4 mt-4">Change your password</h2>

    <form th:action="@{/changePassword}" method="post">
        <div class="field">
            <label class="label">Old password</label>
            <div class="control">
                <input class="input" type="password" id="oldPassword " name="oldPassword" th:value="*{oldPassword}" placeholder="Old Password" required>
                <div th:if="${oldPasswordCondition}">
                    <h4 style="color: red">Password is incorrect</h4>
                </div>
            </div>
        </div>

        <div class="field">
            <label class="label">New password</label>
            <div class="control">
                <input class="input" type="password" id="newPassword" name="newPassword" th:value="*{newPassword}" placeholder="New Password"
                       minlength="8" maxlength="20" pattern="^\S+$" required/><!--regex in pattern to not allow spaces -->
            </div>
        </div>

        <div class="field">
            <label class="label">Confirm password</label>
            <div class="control">
                <input class="input" type="password" id="confirmPassword" name="confirmPassword" th:value="*{confirmPassword}" placeholder="Confirm password" required>
                <div th:if="${passwordCondition}">
                    <p style="color: red">New password and confirm password do not match</p>
                </div>
            </div>
        </div>

        <div class="field">
            <div class="control">
                <button class="button is-link" type="submit">Change password</button>
            </div>
        </div>

    </form>
</section>
</body>
</html>