<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Report Confirmed</title>
    <link href="/css/style.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>

<section class="hero is-info">
    <div class="hero-body">
        <div class="hero-container">
            <div>
                <p class="title">Report System</p>
                <p class="subtitle">Reykjavík</p>
            </div>
            <img class="rvkLogo" src="/img/merki-an-texta.jpg" alt="ReykjavikCitySymbol" />
        </div>
    </div>
</section>

<section class="form-container box">
    <h2 class="is-size-3 has-text-centered has-text-weight-semibold mb-4 mt-4">Change your password</h2>

    <form action="#" th:action="@{/changePassword}" th:object="${user}"  method="post">

        <div class="field">
            <label class="label">Old password</label>
            <div class="control">
                <input class="input" type="password" placeholder="Old Password" name="userPassword" id="oldPassword" th:value="*{oldPassword}"
                       minlength="8" maxlength="20" pattern="^\S+$" required/> <!--regex in pattern to not allow spaces -->
            </div>
        </div>

        <div class="field">
            <label class="label">New password</label>
            <div class="control">
                <input class="input" type="password" placeholder="New Password" name="userPassword" id="newPassword" th:value="*{newPassword}"
                       minlength="8" maxlength="20" pattern="^\S+$" required/> <!--regex in pattern to not allow spaces -->
            </div>
        </div>

        <div class="field">
            <div class="control">
                <button class="button is-link" value="Sign up">Change password</button>
            </div>
        </div>

    </form>
</section>
</body>
</html>