<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Report Confirmed | RVK Report System</title>
    <link href="/css/style.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script src="/js/helper.js" type="text/javascript"></script>
</head>
<body>

<header th:insert="loggedInHeader.html :: loggedInHeader"> </header>

<section class="form-container box">
    <h2 class="title is-2 has-text-centered mb-4 mt-4">
        Thank you for submitting your report!
    </h2>
    <h4 class="subtitle is-4 has-text-centered mb-4 mt-4">Your report has been forwarded to the relevant party for processing.</h4>
    <h4 class="subtitle is-4 has-text-centered mb-4 mt-4">A copy of the report has been sent to your email address</h4>

    <div class="field">
        <p>Click <a href="/createReport">here</a> to create a new report</p>
    </div>
</section>
</body>
</html>