<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Report Confirmed</title>
    <link href="/css/style.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>

<section class="hero is-info">
    <div class="hero-body">
        <div class="hero-container">
            <div>
                <p class="title">Report System</p>
                <p class="subtitle">Reykjavík</p>
            </div>
            <img class="rvkLogo" src="/img/merki-an-texta.jpg" alt="ReykjavikCitySymbol" />
        </div>
    </div>
</section>

<section class="form-container box">
    <h2 class="is-size-3 has-text-centered has-text-weight-semibold mb-4 mt-4">
        Your account has been successfully deleted.
    </h2>

    <div class="field">
        <p>Click <a href="/signup">here</a> to create a new account</p>
    </div>
</section>
</body>
</html>