<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Data | RVK Report System</title>
    <link href="/css/style.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"/>
</head>
<body>

<!-- home.html is only for testing and will not be part of final system -->

<section class="hero is-info">
    <div class="hero-head">
        <nav class="navbar">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item">
                    <img class="rvkLogo" src="/img/merki-an-texta.jpg" alt="ReykjavikCitySymbol" />
                </a>
            </div>
            <div id="navbarMenuHeroB" class="navbar-menu">
                <div class="navbar-end">
                    <span class="navbar-item">
                        <div class="select is-info">
                            <select>
                                <option>My account</option>
                                <a href="/logOut">Log out</a>
                                <a href="changePassword">Change Password</a>
                                <a href="/deleteUser">Delete account</a>
                            </select>
                        </div>
                    </span>
                </div>
            </div>
        </div>
        </nav>
    </div>
    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="title">Report System</p>
            <p class="subtitle">Reykjavík</p>
        </div>
    </div>
</section>


<div th:switch="${reports}">
  <h2 th:case="null">No reports yet</h2>
  <div th:case="*">
      <h2>Reports</h2>
      <table>
          <thread>
              <tr>
                  <th>ID</th>
                  <th>Title</th>
                  <th>Subject</th>
                  <th>Location</th>
                  <th>Images</th>
                  <th>Date</th>
                  <th>UserID</th>
              </tr>
          </thread>
          <tbody>
          <tr th:each="report : ${reports}">
              <td th:text="${report.getReportID()}"></td>
              <!--td th:text="${report.getReportTitleAsString()}"></td>-->
              <td th:text="${report.getReportSubject()}"></td>
              <td th:text="${report.getReportDate()}"></td>
              <td th:text="${report.getUserID()}"></td>
              <td th:text="${report.getUserID()}"></td>
              <td><img th:src="@{${report.getReportImagesPath()}}"/></td>


              <!--<td th:text="${report.location}"></td>
              <td th:text="${report.images}"></td>
              <td th:text="${report.date}"></td>-->
          </tr>
          </tbody>
      </table>
  </div>
  <p><a href="/createReport">Add a new report</a></p>

</div>
</body>
</html>