<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create a new report</title>
    <link href="/css/style.css" type="text/css" rel="stylesheet">
</head>
<body>
<h2>pls complain some more</h2>
<form action="#" th:action="@{/createReport}" th:object="${report}" method="post">
    <label for="reportTitle">Title</label>
    <!--<input type="text" th:field="*{reportTitle}" id="reportTitle" placeholder="Title"> -->
        <!-- TODO uncomment this when enum works-->
    <select>
        <option id="reportTitle" th:each="reportTitle : ${T(is.hi.hbv1.Persistence.Entities.ReportTitle).values()}" th:value="${reportTitle}" th:text="${reportTitle.displayName}"></option>
    </select>
    <span th:if="${#fields.hasErrors('reportTitle')}" th:errors="*{reportTitle}"></span>

    <label for="reportSubject">Subject</label>
    <input type="text" th:field="*{reportSubject}" id="reportSubject" placeholder="Subject">
    <span th:if="${#fields.hasErrors('reportSubject')}" th:errors="*{reportSubject}"></span>

    <input type="submit" value="Send report">
</form>
</body>
</html>