<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <link href="/css/style.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
<section class="hero is-info">
    <div class="hero-body">
        <div class="hero-container">
            <div>
                <p class="title">Report System</p>
                <p class="subtitle">Reykjavík</p>
            </div>
            <img class="rvkLogo" src="/img/merki-an-texta.jpg" alt="ReykjavikCitySymbol" />
        </div>
    </div>
</section>

<section class="form-container box">
<h2 class="is-size-3 has-text-centered has-text-weight-semibold mb-4">Sign up for an account</h2>

<form action="#" th:action="@{/signup}" th:object="${user}"  method="post">

    <div class="field">
        <label class="label" for="userName">Username</label>
        <div class="control">
        <input class="input" type="text" placeholder="Username" name="userName" id="userName" th:field="*{userName}"
               pattern="^\S+$"/>
    </div>
    </div>

    <div class="field">
        <label class="label" for="userEmail">Email</label>
        <div class="control">
        <input class="input" type="email" placeholder="Email" name="userEmail" id="userEmail" th:field="*{userEmail}"
               pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"/> <!--regex to allow only one @ and one or more dots -->
    </div>
    </div>

    <div class="field">
        <label class="label" for="userPassword">Create password</label>
        <div class="control">
        <input class="input" type="password" placeholder="Password" name="userPassword" id="userPassword" th:value="*{userPassword}"
               minlength="8" maxlength="20" pattern="^\S+$" required/> <!--regex in pattern to not allow spaces -->
    </div>
    </div>

    <div class="field">
        <div class="control">
            <button class="button is-link" value="Sign up">Sign up</button>
        </div>
    </div>

</form>
</section>
</body>
</html>